html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;

    color: var(--main-text-color);
    background-color: var(--accent-color);
}

body.modal-open {
    overflow: hidden;
}

body.menu-open {
    overflow: hidden;
}

.section {
    padding-top: 60px;
    padding-bottom: 60px;
    
    @include mq(tablet) {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    
        @include mq(desktop) {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}