:root {
    --main-text-color: #757575;
    --secondary-text-color: #212121;
    --second-logo-color: #000000;
    --accent-color: #FFFFFF;
    --footer-contact-color: rgba(255, 255, 255, 0.6);
    --secondary-background-color: #2F303A;
    --accent-background-color: #F5F4FA;
    --hover-color: #2196F3;
    --main-button-hover-color: #188CE8;
    --placeholder-cl: rgba(117, 117, 117, 0.5);
    --modal-border-cl: rgba(33, 33, 33, 0.2);
    --close-btn-border-cl: #e5e5e5;
    --backdrop-cl: rgba(0, 0, 0, 0.2);
    --portfolio-border-cl: #eeeeee;
    --portfolio-text-block-cl: rgba(33, 150, 243, 0.9);
    --footer-mailing-cl: #ACACB0;
    --footer-input-border-cl: #6D6E75;
    --customers-cl: #AFB1B8;
    --footer-socials-bg-cl: #44454e;
    --occupation-text-bg-cl: rgba(47, 48, 58, 0.8);
    --overlay-bg-cl: #C4C4C4;
    --header-border-cl: #ececec;
}