.page-footer {
    padding-top: 60px;
    padding-bottom: 60px;

    color: var(--accent-color);
    background-color: var(--secondary-background-color);

    @include mq(not-desktop) {
        &__container {
            text-align: center;
        }
    } 

    @include mq(desktop) {
        &__container {
            display: flex;
            align-items: baseline;
        }
    }
}

.footer-contacts__container {
    @include mq(tablet) {
        display: flex;
        justify-content: center;
        align-items: baseline;
        
        &--indent {
            margin-bottom: 60px;
        }
    }

    @include mq(desktop) {
        &--indent {
            margin-bottom: 0px;
            margin-right: 93px;
        }
    }
}

.page-footer__contact--indent {

    @include mq(tablet) {
        margin-right: 165px;
    }

    @include mq(desktop) {
        margin-right: 70px;
    }
}

.page-footer__logo {
    display: block;

    &--indent {
        margin-bottom: 20px;
    }
}

.page-footer__address {
    @include mq(mobile-only) {
        margin-bottom: 60px;
    }
    
    @include mq(tablet) {
        margin-bottom: 0px;
    }

    @include mq(desktop) {
        margin-bottom: 0px;
    }
}

.page-footer__phys-adress {
    font-style: normal;
    line-height: 1.71;

    color: var(--accent-color);

    @include mq(not-desktop) {
        &--indent {
        margin-top: 0;
        margin-bottom: 8px;
        }
    }
    
    @include mq(desktop) {
        &--indent {
            margin-top: 0;
            margin-bottom: 9px;
        }
    }
}

.page-footer__contact-item--indent:not(:last-child) {
    @include mq(not-desktop) {
        margin-bottom: 9px;
    }
    
    @include mq(desktop) {
        margin-bottom: 9px;
    }
}

.page-footer__contact-link {
    font-style: normal;
    line-height: 1.71;

    color: var(--footer-contact-color);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: var(--hover-color);
    }
}

.page-footer__join {
    // margin-right: 93px;
    @include mq(mobile-only) {
        margin-bottom: 60px;
    }
    
    @include mq(tablet) {
        margin-bottom: 0px;
    }

    @include mq(desktop) {
        margin-bottom: 0px;
    }
}

.join__text {
    display: block;

    font-weight: 700;
    text-transform: uppercase;

    color: var(--accent-color);

    &--indent {
        margin-bottom: 20px;
    }
}

.page-footer__socials-list {
    justify-content: center;
}

.mailing-form {
    @include mq(tablet) {
        display: flex;
        flex-direction: column;
        align-items: center;    
    }

    @include mq(desktop) {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        gap: 12px;
    }
}

.mailing__text {
    display: block;

    font-weight: 700;
    text-transform: uppercase;

    color: var(--accent-color);

    &--indent {
        margin-bottom: 20px;
    }
}

.mailing-form__input {
    @include mq(mobile-only) {
        width: 100%;
    }

    @include mq(tablet) {
        width: 450px;
    }

    @include mq(desktop) {
        width: 358px;
    }
    
    padding: 15px 16px;

    color: var(--footer-mailing-cl);
    background-color: transparent;
    border: 1px solid var(--footer-input-border-cl); 
    border-radius: 4px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    outline: transparent;

    @include mq(not-desktop) {
        &--indent {
            margin-bottom: 20px;
        }
    }

    &::placeholder {
        font-size: 16px;
        line-height: 1.25;
        color: var(--footer-mailing-cl);
    }
}

.mailing-btn::after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    background-image: url('../images/send-icon.svg');
    width: 24px;
    height: 24px;
    margin-left: 10px;
}