
.hero {
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center; 
}

.overlay {
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-image:
        linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url("../images/hero/banner.jpg");

    background-color: var(--overlay-bg-cl);

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero__title {
    margin-top: 0;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 696px;
    text-align: center;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: var(--accent-color);
}
